/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6f2ff;
}

img {
  height: 80px;
}

h1 {
  margin: 0;
  font-family: 'Lobster';
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}



h2 {
  margin: 0 0 0.5rem 0;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  font-size: 1.2rem;
}


#app {
  display: flex;
  height: 100vh;
  width: 100vw;
}



form {
    margin: 0 10px 0 0;
  }

label {
      margin-right: 1rem;
    }

span{
  margin-left: 10px;
  margin-right: 10px;
}

nav { 
  display:flex;
  flex-direction: row;
  text-align: center;
}

.welcome-text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}



.add-btn:hover {
  background: #4283aa;
}

.add-btn:active {
  background: #286090;
}


.remove-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #d9534f;
  border: 0;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.remove-btn:hover {
  background: #c9302c;
}

.remove-btn:active {
  background: #c9302c;
}

.std-list {
  padding-left: 0;
  text-align: center;
  width: 50vw;
}

ul{
  width: 100vw;
  text-align: center;  
}
.std-list-container{
  text-align: center;
}

.campus-std-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 8px 0;
  font-size: 13px;
  color: #333;
}

.campus-list{
  display: inline-block;
  margin-left: 130px;
  margin-right: 130px;
  margin-top:20px;
}

input{
  margin-left: 5px;
  margin-right: 20px;
}

.new-campus-container{
  text-align: center;
  margin-top: 50px;
}

.new-std-container{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}